# http://stackoverflow.com/questions/13065576/override-vagrant-configuration-settings-locally-per-dev/23589414#23589414


# ==============================================================================
# Database configuration
# ==============================================================================

db:

  # IP address on the private network.
  # Usually 10.x.x.x, 172.16.x.x or 192.168.x.x.
  ip_address: 192.168.4.10

  # Synced folder containing SQL scripts to create and initialize database
  artifacts_dir:
    host: /Users/wwheeler/.seiso/db
    guest: /opt/seiso-db


# ==============================================================================
# Message bus configuration
# ==============================================================================

bus:

  # IP address on the private network
  # Usually 10.x.x.x, 172.16.x.x or 192.168.x.x.
  ip_address: 192.168.4.20
