# http://stackoverflow.com/questions/13065576/override-vagrant-configuration-settings-locally-per-dev/23589414#23589414

db:
  port:
    host: 23141
    guest: 3306
  artifacts_dir:
    # Set from Vagrantfile ( https://github.com/ExpediaDotCom/seiso/pull/145 )
    host: 
    guest: /opt/seiso-db

bus:
  port:
    host: 23142
    guest: 5672
