# http://stackoverflow.com/questions/13065576/override-vagrant-configuration-settings-locally-per-dev/23589414#23589414


# ==============================================================================
# Database configuration
# ==============================================================================

db:

  # IP address on the private network.
  # Usually 10.x.x.x, 172.16.x.x or 192.168.x.x.
  ip_address: 192.168.4.10

  # Mysql port forwarding
  port:
    # Change host port if host has mysql running on default port (requires similar change to application.yml)
    host: 3306
    guest: 3306

  # Synced folder containing SQL scripts to create and initialize database
  artifacts_dir:
    # modify homedir to suit and ensure you create the full path before running vagrant for the first time
    host: /Users/wwheeler/.seiso/db/0.2.0
    guest: /opt/seiso-db


# ==============================================================================
# Message bus configuration
# ==============================================================================

bus:

  # IP address on the private network
  # Usually 10.x.x.x, 172.16.x.x or 192.168.x.x.
  ip_address: 192.168.4.20
