<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>Types</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<section>
			<header>
				<h1>
					Service Types
					<span ng-show="items"><small>({{items.length}})</small></span>
					<span ng-hide="items"><i class="fa fa-spinner fa-spin"></i></span>
				</h1>
			</header>
			<div ng-if="items.length &gt; 0">
				<table class="table">
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
						<tr>
							<th>Type</th>
							<th>Key</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="serviceType in items | orderBy:'name'">
							<td>{{serviceType.name}}</td>
							<td>{{serviceType.key}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
