<section>
	<header>
		<h1>
			Load Balancers
			<span ng-show="loadBalancerListStatus == 'loading'"><i class="fa fa-spinner fa-spin"></i></span>
			<span ng-show="loadBalancerListStatus == 'loaded'">
				<span ng-if="loadBalancerMetadata.totalItems == 0">
					<small>(0)</small>
				</span>
				<span ng-if="loadBalancerMetadata.totalItems &gt; 0">
					<small>({{loadBalancerMetadata.pageLowIndex + 1}}-{{loadBalancerMetadata.pageHighIndex + 1}} of {{loadBalancerMetadata.totalItems}})</small>
				</span>
			</span>
		</h1>
	</header>
	<ng-include src="'view/items/data-center/details/load-balancer-list.html'"></ng-include>
</section>
