<section ng-switch="serviceInstanceListStatus">
	<!-- No need for spinner here since context already provides one -->
	<div ng-switch-when="error">
		<div class="alert alert-warning">
			<i class="fa fa-times-circle"></i> Couldn't get service instances.
		</div>
	</div>
	<div ng-switch-when="loaded">
		<div ng-if="serviceInstances.length == 0">
			<!-- FIXME This isn't showing, but I think there's a data race. See load-balancer-list.html. -->
			<!-- Might try using a dedicated controller for this list. -->
			<p><i class="fa fa-info-circle"></i> No service instances.</p>
		</div>
		<div ng-if="serviceInstances.length &gt; 0">
			<div class="pagination-wrapper" ng-if="serviceInstanceMetadata.totalPages &gt; 1">
				<pagination total-items="serviceInstanceMetadata.totalItems" ng-model="model.serviceInstances.currentPage" ng-change="model.serviceInstances.pageSelected()" />
			</div>
			<table class="table">
				<colgroup>
					<col style="width:25%">
					<col style="width:25%">
					<col style="width:25%">
					<col style="width:25%">
				</colgroup>
				<thead>
					<tr>
						<th>Service Instance</th>
						<th>Healthy Nodes</th>
						<th>Service</th>
						<th>Environment</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="serviceInstance in serviceInstances" ng-init="
							service = serviceInstance._embedded.service;
							environment = serviceInstance._embedded.environment;">
							
						<td><a ng-href="{{uri('service-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a></td>
						<td><i class="fa fa-circle fa-circle-{{serviceInstance.healthKey}}"></i> {{serviceInstance.percentHealthy}} ({{serviceInstance.numHealthy}} of {{serviceInstance.numNodes}})</td>
						<td><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></td>
						<td><a ng-href="{{uri('environments', environment.key)}}">{{environment.name}}</a></td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-wrapper" ng-if="serviceInstanceMetadata.totalPages &gt; 1">
				<pagination total-items="serviceInstanceMetadata.totalItems" ng-model="model.serviceInstances.currentPage" ng-change="model.serviceInstances.pageSelected()" />
			</div>
		</div>
	</div>
</section>
