<section ng-switch="serviceInstanceListStatus">
	<!-- No need for spinner here since context already provides one -->
	<div ng-switch-when="error">
		<div class="alert alert-warning">
			<i class="fa fa-times-circle"></i> Couldn't get service instances.
		</div>
	</div>
	<div ng-switch-when="loaded">
		<div ng-if="serviceInstances.length == 0">
			<div class="alert alert-info">
				<i class="fa fa-info-circle"></i> No service instances.
			</div>
		</div>
		<div ng-if="serviceInstances.length &gt; 0">
			<div class="pagination-wrapper" ng-if="serviceInstanceMetadata.totalPages &gt; 1">
				<pagination total-items="serviceInstanceMetadata.totalItems" ng-model="model.serviceInstances.currentPage" ng-change="model.serviceInstances.pageSelected()" />
			</div>
			<table class="table">
				<colgroup>
					<col style="width:25%">
					<col style="width:25%">
					<col style="width:25%">
					<col style="width:25%">
				</colgroup>
				<thead>
					<tr>
						<th>Service Instance</th>
						<th>Service</th>
						<th>Environment</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="serviceInstance in serviceInstances">
						<td><a ng-href="{{uri('service-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a></td>
						<td><a ng-href="{{uri('services', serviceInstance._embedded.service.key)}}">{{serviceInstance._embedded.service.name}}</a></td>
						<td><a ng-href="{{uri('environments', serviceInstance._embedded.environment.key)}}">{{serviceInstance._embedded.environment.name}}</a></td>
						<td>
							<span ng-if="serviceInstance._embedded.service._embedded.owner">
								<a ng-href="{{uri('people', serviceInstance._embedded.service._embedded.owner.username)}}">
									{{serviceInstance._embedded.service._embedded.owner.firstName}}
									{{serviceInstance._embedded.service._embedded.owner.lastName}}
								</a>
							</span>
							<span ng-if="!serviceInstance._embedded.service._embedded.owner">-</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-wrapper" ng-if="serviceInstanceMetadata.totalPages &gt; 1">
				<pagination total-items="serviceInstanceMetadata.totalItems" ng-model="model.serviceInstances.currentPage" ng-change="model.serviceInstances.pageSelected()" />
			</div>
		</div>
	</div>
</section>
