<!-- TODO DRY up the health and rotation breakdowns -->
<div ng-controller="NodeBreakdownController" class="row">
	<div class="col-md-6">
		<section>
			<header>
				<h1>
					Nodes by Health
					<span ng-show="healthBreakdownStatus == 'loading'"><i class="fa fa-spinner fa-spin"></i></span>
				</h1>
			</header>
			<div ng-switch="healthBreakdownStatus">
				<div ng-switch-when="error">
					<h3><span class="label label-danger"><i class="fa fa-times-circle"></i> Couldn't get health breakdown.</span></h3>
				</div>
				<div ng-switch-when="loaded">
					<div ng-if="healthBreakdown.items.length == 0">
						<p><i class="fa fa-info-circle"></i> No nodes.</p>
					</div>
					<div ng-if="healthBreakdown.items.length &gt; 0">
						<ul class="list-inline well well-sm">
							<li ng-repeat="item in healthBreakdown.items" style="margin-right:10px">
								<i class="fa fa-circle fa-circle-{{item.statusType}}"></i>
								<span ng-bind="item.count"></span>
								<span ng-bind="item.statusName"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-6">
		<section>
			<header>
				<h1>
					Nodes by Rotation
					<span ng-show="rotationBreakdownStatus == 'loading'"><i class="fa fa-spinner fa-spin"></i></span>
				</h1>
			</header>
			<div ng-switch="rotationBreakdownStatus">
				<div ng-switch-when="error">
					<h3><span class="label label-danger"><i class="fa fa-times-circle"></i> Couldn't get rotation breakdown.</span></h3>
				</div>
				<div ng-switch-when="loaded">
					<div ng-if="rotationBreakdown.items.length == 0">
						<p><i class="fa fa-info-circle"></i> No nodes.</p>
					</div>
					<div ng-if="rotationBreakdown.items.length &gt; 0">
						<ul class="list-inline well well-sm">
							<li ng-repeat="item in rotationBreakdown.items" style="margin-right:10px">
								<i class="fa fa-circle fa-circle-{{item.statusType}}"></i>
								<span ng-bind="item.count"></span>
								<span ng-bind="item.statusName"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
