<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>Statuses</h1>
</div>
<section>
	<div ng-hide="statusTypes">
		<h1><i class="fa fa-spinner fa-spin"></i></h1>
	</div>
	<div ng-show="statusTypes" class="well well-sm">
		<ul class="list-inline" style="margin:0">
			<li>Legend:</li>
			<li ng-repeat="statusType in statusTypes | orderBy:'name'">
				<span style="margin-left:5px"><i class="fa fa-circle fa-circle-{{statusType.key}}"></i> {{statusType.name}}</span>
			</li>
		</ul>
	</div>
</section>
<section>
	<header>
		<h1>
			Health Statuses
			<span ng-hide="healthStatuses"><i class="fa fa-spinner fa-spin"></i></span>
			<span ng-show="healthStatuses"><small>({{healthStatuses.length}})</small></span>
		</h1>
	</header>
	<div ng-show="healthStatuses">
		<table class="table">
			<colgroup>
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:50%">
			</colgroup>
			<thead>
				<tr>
					<th>Status</th>
					<th>Key</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="healthStatus in healthStatuses | orderBy:'name'">
					<td><i class="fa fa-circle fa-circle-{{healthStatus.statusType.key}}"></i> {{healthStatus.name}}</td>
					<td>{{healthStatus.key}}</td>
					<td>{{healthStatus.description || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<section>
	<header>
		<h1>
			Rotation Statuses
			<span ng-hide="rotationStatuses"><i class="fa fa-spinner fa-spin"></i></span>
			<span ng-show="rotationStatuses"><small>({{rotationStatuses.length}})</small></span>
		</h1>
	</header>
	<div ng-show="rotationStatuses">
		<table class="table">
			<colgroup>
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:50%">
			</colgroup>
			<thead>
				<tr>
					<th>Status</th>
					<th>Key</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rotationStatus in rotationStatuses | orderBy:'name'">
					<td><i class="fa fa-circle fa-circle-{{rotationStatus.statusType.key}}"></i> {{rotationStatus.name}}</td>
					<td>{{rotationStatus.key}}</td>
					<td>{{rotationStatus.description || '-'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
