<div class="page-header">
	<ul class="breadcrumb">
		<li><a ng-href="{{uri()}}">Home</a></li>
	</ul>
	<h1>
		People
		<span ng-show="items" ng-switch="items.length">
			<span ng-switch-when="0"><small>(0)</small></span>
			<span ng-switch-default><small>({{lowerIndex}}-{{upperIndex}} of {{totalItems}})</small></span>
		</span>
		<span ng-hide="items">
			<small><i class="fa fa-spinner fa-spin"></i></small>
		</span>
	</h1>
</div>
<div ng-show="items" ng-switch="items.length">
	<section ng-switch-when="0">
		<h3>No people.</h3>
	</section>
	<section ng-switch-default>
		<div class="pagination-wrapper" ng-if="totalPages &gt; 1">
			<pagination total-items="totalItems" ng-model="model.currentPage" ng-change="model.pageSelected()" />
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width:17%">Person</th>
					<th style="width:17%">Username</th>
					<th style="width:22%">Role</th>
					<th style="width:22%">Location</th>
					<th style="width:22%">Contact</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in items">
					<td><a ng-href="{{uri('people', person.username)}}"><span ng-show="person.lastName">{{person.lastName}}, </span>{{person.firstName}}</a></td>
					<td>{{person.username}}</td>
					<td>
						<div ng-show="person.title">{{person.title}}</div>
						<div ng-show="person.department">{{person.department}}</div>
						<div ng-show="person.division">{{person.division}}</div>
						<div ng-show="person.company">{{person.company}}</div>
					</td>
					<td>
						<div ng-show="person.streetAddress || person.location">
							<div ng-show="person.streetAddress">{{person.streetAddress}}</div>
							<div ng-show="person.location">{{person.location}}</div>
							<div>
								<!-- TODO Convert to modal [WLW] -->
								<a href="https://maps.google.com/maps?q={{person.streetAddress | lowercase}}+{{person.location | lowercase}}" rel="nofollow" target="_blank"><span class="fa fa-map-marker"></span> Map</a>​
							</div>
						</div>
					</td>
					<td>
						<div ng-show="person.workPhone">
							<span class="glyphicon glyphicon-earphone"></span> {{person.workPhone}}
						</div>
						<div ng-show="person.email">
							<a ng-href="mailto:{{person.email}}"><span class="fa fa-envelope"></span> {{person.email}}</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination-wrapper" ng-if="totalPages &gt; 1">
			<pagination total-items="totalItems" ng-model="model.currentPage" ng-change="model.pageSelected()" />
		</div>
	</section>
</div>
