<div ng-controller="DataCenterListController" ng-switch="listStatus">
	<div ng-switch-when="loading">
		<div id="page-spinner-panel"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
	</div>
	<div ng-switch-when="error">
		<p><i class="fa fa-exclamation-triangle"></i> Couldn't load data centers.</p>
	</div>
	<div ng-switch-when="loaded">
		<div class="page-header">
			<ul class="breadcrumb">
				<li><a ng-href="{{uri()}}">Home</a></li>
			</ul>
			<h1>Data Centers</h1>
		</div>
		<section ng-repeat="provider in infrastructureProviders" style="margin-top: 30px">
			<header>
				<h1 ng-bind="provider.name"></h1>
			</header>
			<div class="row">
				<div class="col-md-3" ng-repeat="generalRegion in generalRegions">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 ng-bind="generalRegion.name"></h4>
						</div>
						<div class="panel-body">
							<div ng-if="provider.specialRegions[generalRegion.key].length == 0">
								<p>None.</p>
							</div>
							<div ng-if="provider.specialRegions[generalRegion.key].length &gt; 0">
								<div class="panel-subpanel" ng-repeat="specialRegion in provider.specialRegions[generalRegion.key]" ng-init="
										dataCenters = specialRegion._embedded.dataCenters;">
										
									<h4 ng-bind="specialRegion.name"></h4>
									<div ng-if="dataCenters.length == 0">
										<p>None.</p>
									</div>
									<div ng-if="dataCenters.length &gt; 0">
										<ul class="list-unstyled">
											<li ng-repeat="dataCenter in dataCenters">
												<a ng-href="{{uri('data-centers', dataCenter.key)}}">{{dataCenter.name}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
