<!-- Also Mike is going to want to see the Eos-enabled flag, but we need a way to do this without hardcoding it
     into Seiso. [WLW] -->
<section>
	<ul class="field-list">
		<li>
			<div>Service:</div>
			<div ng-if="service"><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></div>
			<div ng-if="!service">-</div>
		</li>
		<li>
			<div>Environment:</div>
			<div ng-if="environment"><a ng-href="{{uri('environments', environment.key)}}">{{environment.name}}</a></div>
			<div ng-if="!environment">-</div>
		</li>
		<li>
			<div>Owner:</div>
			<span ng-if="owner"><a ng-href="{{uri('people', owner.username)}}">{{owner.firstName}} {{owner.lastName}}</a></span>
			<span ng-if="!owner">-</span>
		</li>
		<li>
			<div>Data Center:</div>
			<div ng-if="dataCenter"><a ng-href="{{uri('data-centers', dataCenter.key)}}">{{dataCenter.name}}</a></div>
			<div ng-if="!dataCenter">-</div>
		</li>
		<li>
			<div>Load Balancer:</div>
			<div ng-if="loadBalancer"><a ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a></div>
			<div ng-if="!loadBalancer">-</div>
		</li>
		<li>
			<div>Min Deploy Capacity:</div>
			<div ng-if="serviceInstance.minCapacityDeploy != null">{{serviceInstance.minCapacityDeploy}}%</div>
			<div ng-if="serviceInstance.minCapacityDeploy == null">-</div>
		</li>
		<li>
			<div>Min Ops Capacity:</div>
			<div ng-if="serviceInstance.minCapacityOps != null">{{serviceInstance.minCapacityOps}}%</div>
			<div ng-if="serviceInstance.minCapacityOps == null">-</div>
		</li>
	</ul>
</section>
