<section ng-switch="nodeStatsStatus">
	<div ng-switch-when="loading" class="text-center">
		<i class="fa fa-spinner fa-spin fa-5x"></i>
	</div>
	<div ng-switch-when="error">
		<h3><span class="label label-danger"><i class="fa fa-times-circle"></i> Couldn't get node stats</span></h3>
	</div>
	<div ng-switch-when="loaded">
		<div class="row">
			<div class="col-md-4">
				<div class="well well-sm">
					<div class="metric">
						<div class="metric-count">{{nodeStats.numHealthy}} of {{nodeStats.numNodes}}</div>
						<div class="metric-percentage">{{nodeStats.percentHealthy | number : 1}}%</div>
						<div class="metric-name">Healthy</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well well-sm">
					<div class="metric">
						<div class="metric-count">{{nodeStats.numEnabled}} of {{nodeStats.numNodes}}</div>
						<div class="metric-percentage">{{nodeStats.percentEnabled | number : 1}}%</div>
						<div class="metric-name">Enabled</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well well-sm">
					<div class="metric">
						<div class="metric-count">{{nodeStats.numHealthyGivenEnabled}} of {{nodeStats.numEnabled}}</div>
						<div class="metric-percentage">
							<span ng-if="nodeStats.numEnabled == 0">N/A</span>
							<span ng-if="nodeStats.numEnabled &gt; 0">{{nodeStats.percentHealthyGivenEnabled | number : 1}}%</span>
						</div>
						<div class="metric-name">Healthy, given enabled</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
