<!-- http://stackoverflow.com/questions/21362712/html-file-as-content-in-bootstrap-popover-in-angularjs-directive -->
<script id="rotationDetailsPopover.html" type="text/ng-template">
	<table class="table">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Port</th>
				<th>Rotation</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="endpoint in ipAddress.endpoints">
				<td>{{ipAddress.ipAddress}}</td>
				<td>{{endpoint.port.number}}</td>
				<td><span class="label label-{{endpoint.rotationStatus.statusType.key}}">{{endpoint.rotationStatus.name}}</span></td>
			</tr>
		</tbody>
	</table>
</script>

<section>
	<header>
		<h1>
			Nodes
			<span ng-show="nodeListStatus == 'loading'"><i class="fa fa-spinner fa-spin"></i></span>
			<span ng-show="nodeListStatus == 'loaded'">
				<!-- TODO Scope metadata to the node list, since we could conceivably have other pages here as well. -->
				<span ng-if="metadata.totalItems == 0"><small>(0)</small></span>
				<span ng-if="metadata.totalItems &gt; 0"><small>({{metadata.pageLowIndex + 1}}-{{metadata.pageHighIndex + 1}} of {{metadata.totalItems}})</small></span>
			</span>
		</h1>
	</header>
	<ng-include src="'view/items/service-instance/details/node-stats.html'"></ng-include>
	<ng-include src="'view/items/service-instance/details/node-list.html'"></ng-include>
</section>
