<section ng-switch="nodeListStatus">
	<!-- No need for spinner here since context already provides one -->
	<div ng-switch-when="error">
		<div class="alert alert-warning">
			<i class="fa fa-times-circle"></i> Couldn't get nodes.
		</div>
	</div>
	<div ng-switch-when="loaded">
		<div ng-if="nodeRows.length == 0">
			<div class="alert alert-info">
				<i class="fa fa-info-circle"></i> No nodes.
			</div>
		</div>
		<div ng-if="nodeRows.length &gt; 0">
			<div class="pagination-wrapper" ng-if="metadata.totalPages &gt; 1">
				<pagination total-items="metadata.totalItems" ng-model="model.nodes.currentPage" ng-change="model.nodes.pageSelected()" />
			</div>
			<table class="table">
				<thead>
					<tr>
						<th style="width:20%">Node</th>
						<th style="width:20%">Version</th>
						<th style="width:20%">Health</th>
						<th style="width:25%">IP Address</th>
						<th style="width:15%" colspan="2">Rotation</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="nodeRow in nodeRows">
						<td><a ng-href="{{uri('nodes', nodeRow.name)}}">{{nodeRow.displayName}}</a></td>
						<td><span ng-show="nodeRow.version != null">{{nodeRow.version}}</span></td>
						<td><span ng-show="nodeRow.healthStatus" class="label label-{{nodeRow.healthStatus._embedded.statusType.key}}">{{nodeRow.healthStatus.name}}</span></td>
						<td>{{nodeRow.ipAddress}} ({{nodeRow.ipAddressRole}})</td>
						<td style="width:0">
							<span ng-if="nodeRow.aggregateRotationStatus" class="label label-{{nodeRow.aggregateRotationStatus._embedded.statusType.key}}">{{nodeRow.aggregateRotationStatus.name}}</span>
						</td>
						<td style="width:20%">
							<span ng-if="nodeRow.aggregateRotationStatus"><a rotation-details-popover="/v1/nodes/{{nodeRow.name}}/ip-addresses/{{nodeRow.ipAddress}}">[Details]</a></span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-wrapper" ng-if="metadata.totalPages &gt; 1">
				<pagination total-items="metadata.totalItems" ng-model="model.nodes.currentPage" ng-change="model.nodes.pageSelected()" />
			</div>
		</div>
	</div>
</section>
