<div ng-controller="ServiceInstanceDetailsController" ng-switch="serviceInstanceStatus">
	<div ng-switch-when="loading">
		<div id="page-spinner-panel"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
	</div>
	<div ng-switch-when="error">
		<p><i class="fa fa-exclamation-triangle"></i> Couldn't get service instance.</p>
	</div>
	<div ng-switch-when="loaded">
		<div class="page-header">
			<ul class="breadcrumb">
				<li><a ng-href="{{uri()}}">Home</a></li>
				<li><a ng-href="{{uri('services')}}">Services</a></li>
				<li><a ng-href="{{uri('services', service.key)}}" ng-bind="service.name"></a></li>
				<li>Service instances</li>
			</ul>
			<h1 ng-bind="serviceInstance.key"></h1>
			<p class="lead" ng-if="serviceInstance.description" ng-bind="serviceInstance.description"></p>
		</div>
		<section>
			<!-- Also Mike is going to want to see the Eos-enabled flag, but we need a way to do this without hardcoding it
			     into Seiso. [WLW] -->
			<ul class="field-list">
				<li>
					<div>Service:</div>
					<div ng-if="service"><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></div>
					<div ng-if="!service">-</div>
				</li>
				<li>
					<div>Environment:</div>
					<div ng-if="environment"><a ng-href="{{uri('environments', environment.key)}}">{{environment.name}}</a></div>
					<div ng-if="!environment">-</div>
				</li>
				<li>
					<div>Data Center:</div>
					<div ng-if="dataCenter"><a ng-href="{{uri('data-centers', dataCenter.key)}}">{{dataCenter.name}}</a></div>
					<div ng-if="!dataCenter">-</div>
				</li>
				<li>
					<div>Owner:</div>
					<span ng-if="owner"><a ng-href="{{uri('people', owner.username)}}">{{displayName(owner)}}</a></span>
					<span ng-if="!owner">-</span>
				</li>
				<li>
					<div>Load Balancer:</div>
					<div ng-if="loadBalancer"><a ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a></div>
					<div ng-if="!loadBalancer">-</div>
				</li>
			</ul>
		</section>
		<div>
			<tabset>
				<tab ng-repeat="tab in tabs" heading="{{tab.heading}}" select="setTabContent(tab.content)"></tab>
			</tabset>
			<ng-include src="tabContentUrl"></ng-include>
		</div>
	</div>
</div>

<!-- This supports both the node alerts and node list. -->
<!-- http://stackoverflow.com/questions/21362712/html-file-as-content-in-bootstrap-popover-in-angularjs-directive -->
<script id="rotationDetailsPopover.html" type="text/ng-template">
	<table class="table">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Port</th>
				<th>Rotation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ipAddress.ipAddress}}</td>
				<td></td>
				<td>
					<i class="fa fa-circle fa-circle-{{ipAddress.rotationStatus.statusType.key}}"></i>
					{{ipAddress.rotationStatus.name}}
				</td>
			</tr>
			<tr ng-repeat="endpoint in ipAddress.endpoints" ng-init="rotationStatusTypeKey = endpoint.rotationStatus.statusType.key">
				<td>{{ipAddress.ipAddress}}</td>
				<td>{{endpoint.port.number}}</td>
				<td>
					<i class="fa fa-circle fa-circle-{{rotationStatusTypeKey}}"></i>
					{{endpoint.rotationStatus.name}}
				</td>
			</tr>
		</tbody>
	</table>
</script>
