<div ng-controller="ServiceInstanceDetailsController">
	<div id="page-spinner-panel" ng-hide="serviceInstance">
		<i class="fa fa-spinner fa-spin fa-5x"></i>
	</div>
	<div ng-show="serviceInstance">
		<div class="page-header">
			<ul class="breadcrumb">
				<li><a ng-href="{{uri()}}">Home</a></li>
				<li><a ng-href="{{uri('services')}}">Services</a></li>
				<li><a ng-href="{{uri('services', service.key)}}" ng-bind="service.name"></a></li>
			</ul>
			<h1 ng-bind="serviceInstance.key"></h1>
			<p class="lead">
				<a ng-href="{{uri('services', service.key)}}" ng-bind="service.name"></a> |
				<a ng-href="{{uri('environments', environment.key)}}" ng-bind="environment.name"></a>
			</p>
		</div>
		<tabset>
			<tab heading="Dashboard">
				<ng-include src="'view/items/service-instance/details/dashboard/node-summary.html'"></ng-include>
				<ng-include src="'view/items/service-instance/details/dashboard/node-breakdowns.html'"></ng-include>
				<ng-include src="'view/items/service-instance/details/dashboard/node-alerts.html'"></ng-include>
			</tab>
			<tab heading="Nodes">
				<ng-include src="'view/items/service-instance/details/nodes/node-pane.html'"></ng-include>
			</tab>
			<tab heading="Details">
				<ng-include src="'view/items/service-instance/details/details/service-instance-props.html'"></ng-include>
				<ng-include src="'view/items/service-instance/details/details/endpoints-pane.html'"></ng-include>
				<ng-include src="'view/items/service-instance/details/details/dashboards-pane.html'"></ng-include>
				<ng-include src="'view/items/service-instance/details/details/seyren-pane.html'"></ng-include>
			</tab>
		</tabset>
	</div>
</div>

<!-- This supports both the node alerts and node list. -->
<!-- http://stackoverflow.com/questions/21362712/html-file-as-content-in-bootstrap-popover-in-angularjs-directive -->
<script id="rotationDetailsPopover.html" type="text/ng-template">
	<table class="table">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Port</th>
				<th>Rotation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ipAddress.ipAddress}}</td>
				<td></td>
				<td>
					<i class="fa fa-circle fa-circle-{{ipAddress.rotationStatus.statusType.key}}" ng-if="ipAddress.rotationStatus.statusType.key != 'success'"></i>
					{{ipAddress.rotationStatus.name}}
				</td>
			</tr>
			<tr ng-repeat="endpoint in ipAddress.endpoints" ng-init="rotationStatusTypeKey = endpoint.rotationStatus.statusType.key">
				<td>{{ipAddress.ipAddress}}</td>
				<td>{{endpoint.port.number}}</td>
				<td>
					<i class="fa fa-circle fa-circle-{{rotationStatusTypeKey}}" ng-if="rotationStatusTypeKey != 'success'"></i>
					{{endpoint.rotationStatus.name}}
				</td>
			</tr>
		</tbody>
	</table>
</script>
