<section ng-controller="EosConvictController">
	<header>
		<h1>Convict</h1>
	</header>
	<p>Convicts the given set of nodes. A "conviction" involves removing the node from rotation, restarting it, running the health checks and (if successful) putting the node back into rotation.</p>
	<div class="row" style="margin-top:30px">
		<div class="col-md-8">
			<form class="form-horizontal" ng-submit="submit()">
				<div class="form-group">
					<label for="inputNodes" class="col-md-2 control-label">Nodes</label>
					<div class="col-md-10">
						<input ng-model="form.nodeList" id="inputNodeList" class="form-control" placeholder="Node list">
					</div>
				</div>
				<div class="form-group">
					<label for="inputReason" class="col-md-2 control-label">Reason</label>
					<div class="col-md-10">
						<input ng-model="form.reason" id="inputReason" class="form-control" placeholder="Reason">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.overrideCapacity" type="checkbox"> Override capacity</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-mode="form.skipRotateIn" type="checkbox"> Skip rotate in</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-success">
							Convict
							<span ng-switch="convictStatus">
								<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
								<span ng-switch-when="success"><i class="fa fa-check"></i></span>
								<span ng-switch-when="error"><i class="fa fa-times"></i></span>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
