<section ng-controller="EosDeployController">
	<header>
		<h1>Deploy</h1>
	</header>
	<p>Deploys the <span ng-bind="serviceInstance.key"></span> service instance using Eos.</p>
	<div class="row" style="margin-top:30px">
		<div class="col-md-8">
			<form class="form-horizontal" ng-submit="submit()">
				<div class="form-group">
					<label for="inputVersion" class="col-md-2 control-label">Version</label>
					<div class="col-md-10">
						<input ng-model="form.version" id="inputVersion" class="form-control" placeholder="Version">
					</div>
				</div>
				<div class="form-group">
					<label for="inputArguments" class="col-md-2 control-label">Arguments</label>
					<div class="col-md-10">
						<input ng-model="form.arguments" id="inputArguments" class="form-control" placeholder="Arguments">
					</div>
				</div>
				<div class="form-group">
					<label for="inputNodeList" class="col-md-2 control-label">Nodes</label>
					<div class="col-md-10">
						<input ng-model="form.nodeList" id="inputNodeList" class="form-control" placeholder="Node list">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.deploySameVersion" type="checkbox"> Deploy same version</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.overrideStateRestriction" type="checkbox"> Override state restriction</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.skipRotateIn" type="checkbox"> Skip rotate in</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.skipRotateOut" type="checkbox"> Skip rotate out</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.skipDvt" type="checkbox"> Skip deployment verification test</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.skipSetActive" type="checkbox"> Skip set active</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-success">
							Deploy
							<span ng-switch="deployStatus">
								<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
								<span ng-switch-when="success"><i class="fa fa-check"></i></span>
								<span ng-switch-when="error"><i class="fa fa-times"></i></span>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
