<section ng-controller="EosMaintenanceModeController">
	<header>
		<h1>Maintenance Mode</h1>
	</header>
	<p>Sets the maintenance mode for nodes in the <span ng-bind="serviceInstance.key"></span> service instance.</p>
	<div class="row" style="margin-top:30px">
		<div class="col-md-8">
			<form class="form-horizontal" ng-submit="submit()">
				<div class="form-group">
					<div>
						<label for="inputNodeList" class="col-md-2 control-label">Nodes</label>
						<div class="col-md-10">
							<input ng-model="form.nodeList" id="inputNodeList" class="form-control" placeholder="Node list">
						</div>
						<div class="col-md-offset-2 col-md-10">
							<span id="helpBlock" class="help-block">Comma-separated list of nodes to put into maintenance mode.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>
						<label for="inputMinutes" class="col-md-2 control-label">Minutes</label>
						<div class="col-md-2">
							<input ng-model="form.minutes" id="inputMinutes" class="form-control" placeholder="Minutes">
						</div>
					</div>
					<div class="col-md-offset-2 col-md-10">
						<span id="helpBlock" class="help-block">Number of minutes to remain in maintenance mode.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.enable" id="inputEnable" type="checkbox"> Enable</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.overrideOthers" id="inputOverrideOthers" type="checkbox"> Override others</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-success">
							Set Maintenance Mode
							<span ng-switch="maintenanceModeStatus">
								<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
								<span ng-switch-when="success"><i class="fa fa-check"></i></span>
								<span ng-switch-when="error"><i class="fa fa-times"></i></span>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
