<section ng-controller="EosSoakController">
	<header>
		<h1>Soak</h1>
	</header>
	<p>Sets the given nodes in the alternate channel into either the <em>Active</em> or the <em>Inactive</em> state.</p>
	<div class="row" style="margin-top:30px">
		<div class="col-md-8">
			<form class="form-horizontal" ng-submit="submit()">
				<div class="form-group">
					<label for="inputNodeList" class="col-md-2 control-label">Nodes</label>
					<div class="col-md-10">
						<input ng-model="form.nodeList" id="inputNodeList" class="form-control" placeholder="Node list">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label><input ng-model="form.activate" type="checkbox"> Activate</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-success">
							Soak
							<span ng-switch="soakStatus">
								<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
								<span ng-switch-when="success"><i class="fa fa-check"></i></span>
								<span ng-switch-when="error"><i class="fa fa-times"></i></span>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
