<div id="page-spinner-panel" ng-hide="person">
	<i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="person">
	<div class="page-header">
		<ul class="breadcrumb">
			<li><a ng-href="{{uri()}}">Home</a></li>
			<li><a ng-href="{{uri('people')}}">People</a></li>
		</ul>
		<h1><i class="fa fa-user"></i> {{displayName(person)}} <small>({{person.username}})</small></h1>
		<div class="lead" ng-if="person.title">{{person.title}}</div>
	</div>
	<section>
		<div class="row">
			<div class="col-md-6">
				<section>
					<h1>Organization</h1>
					<table class="table">
						<colgroup>
							<col style="width:33%">
							<col style="width:67%">
						</colgroup>
						<tbody>
							<tr>
								<td>Company</td>
								<td>{{person.company || '-'}}</td>
							</tr>
							<tr>
								<td>Division</td>
								<td>{{person.division || '-'}}</td>
							</tr>
							<tr>
								<td>Subdivision</td>
								<td>{{person.subdivision || '-'}}</td>
							</tr>
							<tr>
								<td>Department</td>
								<td>{{person.department || '-'}}</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<h1>Reporting</h1>
					<table class="table">
						<colgroup>
							<col style="width:33%">
							<col style="width:67%">
						</colgroup>
						<tbody>
							<tr>
								<td>Manager</td>
								<td>
									<div ng-if="person.manager">
										<a ng-href="{{uri('people', person.manager.username)}}">{{displayName(person.manager)}}</a>
									</div>
									<div ng-if="!person.manager">-</div>
								</td>
							</tr>
							<tr>
								<td>Direct Reports</td>
								<td>
									<div ng-if="person.directReports.length === 0">None.</div>
									<div ng-if="person.directReports.length &gt; 0">
										<ul class="list-unstyled">
											<li ng-repeat="directReport in person.directReports">
												<a ng-href="{{uri('people', directReport.username)}}">{{displayName(directReport)}}</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<div class="col-md-6">
				<section>
					<h1>Contact</h1>
					<table class="table">
						<colgroup>
							<col style="width:33%">
							<col style="width:67%">
						</colgroup>
						<tbody>
							<tr>
								<td>Street Address</td>
								<td>{{person.streetAddress || '-'}}</td>
							</tr>
							<tr>
								<td>Location</td>
								<td>{{person.location || '-'}}</td>
							</tr>
							<tr>
								<td>Work Phone</td>
								<td>{{person.workPhone || '-'}}</td>
							</tr>
							<tr ng-switch="person.email">
								<td>E-mail</td>
								<td ng-switch-when="">-</td>
								<td ng-switch-default><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</section>
</div>
