<section ng-controller="ServiceDocumentationController">
	<header>
		<h1>
			External Documentation
			<span ng-switch="serviceDocumentationStatus">
				<span ng-switch-when="loaded"><small>({{docLinks.length}})</small></span>
				<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
			</span>
		</h1>
	</header>
	<p><i class="fa fa-info-circle"></i> See <a href="http://seiso.io/guides/working-with-seiso-data-masters/">Working with Seiso Data Masters</a> for help with defining external documentation.</p>
	<div ng-switch="serviceDocumentationStatus">
		<div ng-switch-when="error">
			<p><i class="fa fa-exclamation-triangle"></i> Couldn't get external documentation.</p>
		</div>
		<div ng-switch-when="loaded">
			<div ng-if="docLinks.length == 0">
				<p><i class="fa fa-info-circle"></i> No external documentation.</p>
			</div>
			<div ng-if="docLinks.length &gt; 0">
				<table class="table table-striped">
					<colgroup>
						<col style="width:50%">
						<col style="width:50%">
					</colgroup>
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="docLink in docLinks">
							<td><a ng-href="{{docLink.href}}" target="_blank"><span ng-bind="docLink.title"></span></a></td>
							<td ng-bind="docLink.description"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
