<section ng-controller="ServiceServiceInstancesController">
	<header>
		<h1>
			Service Instances
			<span ng-switch="serviceInstancesStatus">
				<span ng-switch-when="loaded"><small>({{serviceInstances.length}})</small></span>
				<span ng-switch-when="loading"><i class="fa fa-spinner fa-spin"></i></span>
			</span>
		</h1>
	</header>
	<div ng-switch="serviceInstancesStatus">
		<div ng-switch-when="error">
			<p><i class="fa fa-exclamation-triangle"></i> Couldn't get service instances.</p>
		</div>
		<div ng-switch-when="loaded">
			<div ng-if="serviceInstances.length == 0">
				<p><i class="fa fa-info-circle"></i> No service instances.</p>
			</div>
			<div ng-if="serviceInstances.length &gt; 0">
				<table class="table table-striped">
					<colgroup>
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
						<col style="width:25%">
					</colgroup>
					<thead>
						<tr>
							<th>Service Instance</th>
							<th>Healthy Nodes</th>
							<th>Environment</th>
							<th>Data Center</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="serviceInstance in serviceInstances" ng-init="
								environment = serviceInstance._embedded.environment;
								dataCenter = serviceInstance._embedded.dataCenter;">
								
							<td><a ng-href="{{uri('service-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a></td>
							<td><i class="fa fa-circle fa-circle-{{serviceInstance.healthKey}}"></i> {{serviceInstance.percentHealthy}} ({{serviceInstance.numHealthy}} of {{serviceInstance.numNodes}})</td>
							<td><a ng-href="{{uri('environments', environment.key)}}">{{environment.name}}</a></td>
							<td><a ng-href="{{uri('data-centers', dataCenter.key)}}">{{dataCenter.name}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
