<div ng-controller="ServiceDetailsController" ng-switch="serviceStatus">
	<div ng-switch-when="loading">
		<div id="page-spinner-panel"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
	</div>
	<div ng-switch-when="error">
		<p><i class="fa fa-exclamation-triangle"></i> Couldn't load service.</p>
	</div>
	<div ng-switch-when="loaded">
		<div class="page-header">
			<ul class="breadcrumb">
				<li><a ng-href="{{uri()}}">Home</a></li>
				<li><a ng-href="{{uri('services')}}">Services</a></li>
			</ul>
			<h1 ng-bind="service.name"></h1>
			<p class="lead" ng-if="service.description" ng-bind="service.description"></p>
			<p ng-if="service.scmRepository">
				<a ng-href="{{service.scmRepository}}" ng-bind="service.scmRepository"></a>
			</p>
		</div>
		<ul class="field-list">
			<li>
				<div>Key:</div>
				<div ng-bind="service.key"></div>
			</li>
			<li>
				<div>Group:</div>
				<div ng-bind="serviceGroup.name || '-'"></div>
			</li>
			<li>
				<div>Type:</div>
				<div ng-bind="serviceType.name || '-'"></div>
			</li>
			<li>
				<div>Platform:</div>
				<div ng-bind="service.platform || '-'"></div>
			</li>
			<li>
				<div>Owner:</div>
				<div>
					<span ng-if="serviceOwner"><a ng-href="{{uri('people', serviceOwner.username)}}" ng-bind="displayName(serviceOwner)"></a></span>
					<span ng-if="!serviceOwner">-</span>
				</div>
			</li>
		</ul>
	</div>
</div>
<ng-include src="'view/items/service/details/service-instances-pane.html'"></ng-include>
<ng-include src="'view/items/service/details/documentation-pane.html'"></ng-include>
