<div ng-controller="LoginController">
	<div class="page-header">
		<h1>Please Sign In</h1>
	</div>
	<div ng-show="authenticationError">
		<p><i class="fa fa-exclamation-triangle"></i> There was a problem signing in. Please try again.
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<form role="form" ng-submit="login(credentials)">
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" focus>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" id="password" name="password" ng-model="credentials.password">
					</div>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
