<div class="page-header">
  <ul class="breadcrumb">
    <li><a ng-href="{{uri()}}">Home</a></li>
  </ul>
  <h1>Search Results <span ng-hide="$root.searchResults"><small><i class="fa fa-spinner fa-spin"></i></small></span></h1>
</div>

<div ng-show="$root.searchResults">
  <section>
    <header>
      <h2>Services <small>({{$root.searchResults.service.length}})</small></h2>
    </header>
    <div ng-show="$root.searchResults.service.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="$root.searchResults.service.length &gt; 0">
      <ul class="list-unstyled">
        <li ng-repeat="service in $root.searchResults.service | orderBy:'name'">
          <a ng-href="{{uri('services', service.key)}}">{{service.name}} ({{service.key}})</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Nodes <small>({{$root.searchResults.node.length}})</small></h2>
    </header>
    <div ng-show="$root.searchResults.node.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="$root.searchResults.node.length &gt; 0">
      <ul class="list-unstyled">
        <li ng-repeat="node in $root.searchResults.node | orderBy:'name'">
          <a ng-href="{{uri('nodes', node.name)}}">{{node.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Machines <small>({{$root.searchResults.machine.length}})</small></h2>
    </header>
    <div ng-show="$root.searchResults.machine.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="$root.searchResults.machine.length &gt; 0">
      <ul class="list-unstyled">
        <li ng-repeat="machine in $root.searchResults.machine | orderBy:'name'">
          <a ng-href="{{uri('machines', machine.name)}}">{{machine.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Load Balancers <small>({{$root.searchResults.loadBalancer.length}})</small></h2>
    </header>
    <div ng-show="$root.searchResults.loadBalancer.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="$root.searchResults.loadBalancer.length &gt; 0">
      <ul class="list-unstyled">
        <li ng-repeat="loadBalancer in $root.searchResults.loadBalancer | orderBy:'name'">
          <a ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a>
        </li>
      </ul>
    </div>
  </section>
</div>
