<div class="page-header">
	<h1>Myers-Briggs Personality Types</h1>
</div>
<div ng-controller="MBController">
	
	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/infp">INFP</a></h1>
				<p>The Healer</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/infj">INFJ</a></h1>
				<p>The Counselor</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/intj">INTJ</a></h1>
				<p>The Mastermind</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/intp"><i class="fa fa-star fa-spin"></i> INTP <i class="fa fa-star fa-spin"></i></a></h1>
				<p>The Architect</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/isfj">ISFJ</a></h1>
				<p>The Protector</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/isfp">ISFP</a></h1>
				<p>The Composer</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/istj">ISTJ</a></h1>
				<p>The Inspector</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/istp">ISTP</a></h1>
				<p>The Craftsman</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/enfj">ENFJ</a></h1>
				<p>The Teacher</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/enfp">ENFP</a></h1>
				<p>The Champion</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/entj">ENTJ</a></h1>
				<p>The Commander</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/entp">ENTP</a></h1>
				<p>The Visionary</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/esfj">ESFJ</a></h1>
				<p>The Provider</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/esfp">ESFP</a></h1>
				<p>The Performer</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/estj">ESTJ</a></h1>
				<p>The Supervisor</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well well-sm" style="text-align:center">
				<h1><a href="#/mb/estp">ESTP</a></h1>
				<p>The Dynamo</p>
			</div>
		</div>
	</div>
</div>
