<div ng-controller="MBProfileController">
	<div class="page-header">
		<ul class="breadcrumb">
			<li><a ng-href="{{uri()}}">Home</a></li>
			<li><a ng-href="{{uri('mb')}}">Myers-Briggs</a></li>
		</ul>
		<h1>
			<span ng-if="type == 'intp'"><i class="fa fa-star fa-spin"></i></span>
			{{pageHeader}}
			<span ng-if="type == 'intp'"><i class="fa fa-star fa-spin"></i></span>
		</h1>
	</div>
	<section>
		<h2>About you</h2>
		<ng-include src="'view/mb/' + type + '.html'"></ng-include>
	</section>
	<section>
		<div class="row">
			<div class="col-md-4">
				<h2>You might be</h2>
				<div ng-if="same.length == 0">
					<p>No idea.</p>
				</div>
				<div ng-if="same.length &gt; 0">
					<ul class="list-unstyled">
						<li ng-repeat="person in same | orderBy:'fullName'"><a ng-href="{{uri('people', person.username)}}">{{person.fullName}}</a> <a href="{{uri('mb/' + person.mbType)}}">({{person.mbType.toUpperCase()}})</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<h2>Your allies</h2>
				<div ng-if="allies.length == 0">
					<p>None. You're on your own.</p>
				</div>
				<div ng-if="allies.length &gt; 0">
					<ul class="list-unstyled">
						<li ng-repeat="person in allies | orderBy:'fullName'"><a ng-href="{{uri('people', person.username)}}">{{person.fullName}}</a> <a href="{{uri('mb/' + person.mbType)}}">({{person.mbType.toUpperCase()}})</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<h2>May try to shank you</h2>
				<div ng-if="enemies.length == 0">
					<p>None. For now.</p>
				</div>
				<div ng-if="enemies.length &gt; 0">
					<ul class="list-unstyled">
						<li ng-repeat="person in enemies | orderBy:'fullName'"><a ng-href="{{uri('people', person.username)}}">{{person.fullName}}</a> <a href="{{uri('mb/' + person.mbType)}}">({{person.mbType.toUpperCase()}})</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
