<section ng-controller="ServiceInstanceDependentsController">
	<header>
		<h1>
			Dependents
			<span ng-show="dependentsStatus == 'loading'"><i class="fa-spinner fa-spin"></i></span>
			<span ng-show="dependentsStatus == 'loaded'">
				<small>({{dependents.length}})</small>
			</span>
			<small><a href="" tooltip="Service instances that depend upon {{serviceInstance.key}}."><i class="fa fa-question-circle"></i></a></small>
		</h1>
	</header>
	<div ng-switch="dependentsStatus">
		<div ng-switch-when="error">
			<p><i class="fa fa-exclamation-triangle"></i> Couldn't get dependents.</p>
		</div>
		<div ng-switch-when="loaded">
			<div ng-if="dependents.length == 0">
				<p><i class="fa fa-info-circle"></i> No known dependents.</p>
			</div>
			<div ng-if="dependents.length &gt; 0">
			<div ng-if="dependents.length &gt; 0">
				<table class="table table-striped">
					<colgroup>
						<col style="width:25%">
						<col style="width:20%">
						<col style="width:25%">
						<col style="width:35%">
					</colgroup>
					<thead>
						<tr>
							<th>Dependent</th>
							<th>Healthy Nodes</th>
							<th>Service</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="edge in dependents" ng-init="
								dependent = edge._embedded.dependent;
								service = dependent._embedded.service;">
								
							<td><a ng-href="{{uri('service-instances', dependent.key)}}">{{dependent.key}}</a></td>
							<td><i class="fa fa-circle fa-circle-{{edge.healthKey}}"></i> {{edge.percentHealthy}} ({{edge.numHealthy}} of {{edge.numNodes}})</td>
							<!--td>{{edge.description || '-'}}</td-->
							<td><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></td>
							<td>{{service.description || '-'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>
</section>

<section ng-controller="ServiceInstanceDependenciesController">
	<header>
		<h1>
			Dependencies
			<span ng-show="dependenciesStatus == 'loading'"><i class="fa-spinner fa-spin"></i></span>
			<span ng-show="dependenciesStatus == 'loaded'">
				<small>({{dependencies.length}})</small>
			</span>
			<small><a href="" tooltip="Service instances upon which {{serviceInstance.key}} depends."><i class="fa fa-question-circle"></i></a></small>
		</h1>
	</header>
	<div ng-switch="dependenciesStatus">
		<div ng-switch-when="error">
			<p><i class="fa fa-exclamation-triangle"></i> Couldn't get dependencies.</p>
		</div>
		<div ng-switch-when="loaded">
			<div ng-if="dependencies.length == 0">
				<p><i class="fa fa-info-circle"></i> No known dependencies.</p>
			</div>
			<div ng-if="dependencies.length &gt; 0">
				<table class="table table-striped">
					<colgroup>
						<col style="width:25%">
						<col style="width:20%">
						<col style="width:25%">
						<col style="width:30%">
					</colgroup>
					<thead>
						<tr>
							<th>Dependency</th>
							<th>Healthy Nodes</th>
							<th>Service</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="edge in dependencies" ng-init="
								dependency = edge._embedded.dependency;
								service = dependency._embedded.service">
								
							<td><a ng-href="{{uri('service-instances', dependency.key)}}">{{dependency.key}}</a></td>
							<td><i class="fa fa-circle fa-circle-{{edge.healthKey}}"></i> {{edge.percentHealthy}} ({{edge.numHealthy}} of {{edge.numNodes}})</td>
							<!--td>{{edge.description || '-'}}</td-->
							<td><a ng-href="{{uri('services', service.key)}}">{{service.name}}</a></td>
							<td>{{service.description || '-'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
